DMDATA_API_KEY=your_dmdata_api_key_here

PORT=3000
NODE_ENV=development

# development: including
# production: excluding
DMDATA_TEST_MODE=excluding

# true only when you want to save received telegram samples
SAVE_TELEGRAM_SAMPLE=false
